Vivado/
*.aux
Datasheet/project_datasheet/block_diagram/system_top.log
*.gz
Datasheet/project_datasheet/datasheet.log
*.out
Datasheet/AXI_SH_595/axi_sh_595.log
Datasheet/SDM_Decimator/sdm_decimator.log
Datasheet/SDM_Decimator/sdm_decimator.pdf
Datasheet/XCorr/block_diagram/xcorr_diag.log
Datasheet/XCorr/block_diagram/xcorr_diag.pdf
Datasheet/XCorr/xcorr.log
Datasheet/XCorr/xcorr.pdf
Datasheet/AXI_SH_595/axi_sh_595.pdf
Datasheet/AXI_SH_595/axi_sh_595.pdf
